@{
    ViewData["Title"] = "Home Page";
}

<section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-hero__wrapper">
                    <h1 class="nhsuk-u-margin-bottom-3">NHS Digital DDC Exeter 8a Developer Technical Test</h1>
                    <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Automated deployment example scenario manipulating JSON to extract report information</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="nhsuk-section">
    <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row nhsuk-promo-group">
            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">

                <div class="nhsuk-promo">
                    <a class="nhsuk-promo__link-wrapper" href="~/Report" target="_blank">
                        <div class="nhsuk-promo__content">
                            <h2 class="nhsuk-promo__heading">The Solution</h2>
                            <p class="nhsuk-promo__description">Will generate a text format report using the test data JSON supplied (opens in new tab).</p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">

                <div class="nhsuk-promo">
                    <a class="nhsuk-promo__link-wrapper" href="~/UnitTests">
                        <div class="nhsuk-promo__content">
                            <h2 class="nhsuk-promo__heading">Unit Tests</h2>
                            <p class="nhsuk-promo__description">Interactive, runnable Unit Tests to exercise the scenario solution</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <div class="nhsuk-grid-row nhsuk-promo-group">
            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">

                <div class="nhsuk-promo">
                    <a class="nhsuk-promo__link-wrapper" href="https://github.com/themysterycoderuk/technicaltest" target="_blank">
                        <div class="nhsuk-promo__content">
                            <h2 class="nhsuk-promo__heading">Source Code</h2>
                            <p class="nhsuk-promo__description">Link to the source code GitHub project (opens in new tab)</p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">

                <div class="nhsuk-promo">
                    <a class="nhsuk-promo__link-wrapper" href="~/Approach">
                        <div class="nhsuk-promo__content">
                            <h2 class="nhsuk-promo__heading">The Approach</h2>
                            <p class="nhsuk-promo__description">How the solution was implemented</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

